@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Zilla+Slab&display=swap');

body {
    background-color: #9E6339;
}

header {
    font-family: "Alfa Slab One", serif;
    font-size: 50pt;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 10px yellow;
}

img {
    border-radius: 1%;
    box-shadow: 0 0 5px #000;
}